
    {%- assign total_combinations = 1 -%}
    {% for option in product.options_with_values %}{%- assign total_combinations = total_combinations | times: option.values.size -%}{% endfor %}
    {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
      assign is_in_stock = variant.available
    -%}
    <gp-product-button
      style="--pos-mobile:static;--top-mobile:0px"
      gp-data-wrapper="true"
      gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
      class="gp-product-button"
      gp-label-out-of-stock="{{ section.settings.ggRsbU-dB6J_outOfStockLabel }}"
      gp-label-unavailable="{{ section.settings.ggRsbU-dB6J_unavailableLabel }}"
      gp-data='{"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"setting":{"errorType":"built-in","actionEffect":"open-cart-drawer","enableMessage":true,"label":"Add to cart","errorMessage":"{{ section.settings.ggRsbU-dB6J_errorMessage| escape | replace: '&quot;', '\"' }}","successMessage":"{{ section.settings.ggRsbU-dB6J_successMessage| escape | replace: '&quot;', '\"' }}","outOfStockLabel":"Out of stock","customURL":{"link":"https://builder.gempages.net/post-purchase/preview?url=/post-purchase/preview&pageID=576951192974787323&title=Upsell%20Page&shopToken=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnZW14IiwiZXhwIjoxNzUzNDM2NzE2LCJpYXQiOjE3NTMzNTAzMTYsImp0aSI6IjQzNDc3NjQ2Mzg3NTUwNzE0NSJ9.Q5YwdwVdWhk71Q-eMal_cDuT35IjqhIJfoMewtmXyBYMyOUKYJQstsssqGulmwkeffiw3g5SJgw0MwwMEZ85NBgFk8o8BFFZ32KiDca-4agYUGz5sHgKb_AKciEuDhJakcffnpkdc2oY7bzhoBTkzrUkY3acSOXfd1fnNbGrtP1wo8gXhWz7GB5H5lw1J7s_xowS1CYB3HWG_odPCQ4V2GiO0Yo7LkA55BrCLgDM2ZK_xHMVzFxy4D9bFyTHSIvePYqNKractLim5aqjpAkJcmnkPZ08NQfpkfus-LNv29lm_Pa0FIywry1MpeA_LpdZ6SXszEEZ4O62WEmCoSewkeP0Wyt2IltsxwBDRusoZWBvwjYmShT_eo4diTZKQddilSy89HKyGL071V7GHJ82nyWa8kuAykfQsdtNFAeDtdnqHo51qmH8aTA9ASjnY2ALvL5PefYE8V07jXeblHqOnUgI96PxaI03lAAXfC8hF_Tq1gMfmFN2HOLVjsOfo5zqORISmw4OiwFyImWR_RkOuUDJgzCegANhTayEtlFAmoMCdjdNqFAQUV765-Er7OZi8CsQGT6uWF-LQAU32or04pWVGARJzwu4rhLTcIwZRZ-VH4YnYTw9HLH0rpAiCUZpkRngYdxX5WXsIqf3uEtrKbj39eYU1yNKY9vxSNPO4fQ&shopID=432750572815254551&shopName=seal-commerce-asia&publicShopToken=c2VhbC1jb21tZXJjZS1hc2lhLmdlbXBhZ2VzLmxpdmUtMmM3OTM1MjctOTI3Mi00MTYwLWFiNTMtMTU0MDc1NTkwN2ZiLTE2Njc0NjkwNDM&currentOfferID=576951201665385289&pageType=POST_PURCHASE&moneyFormat=${{amount}}&moneyWithCurrencyFormat=${{amount}}%20USD","target":"_self"},"variantSelectionRequiredMessage":"{{ section.settings.ggRsbU-dB6J_variantSelectionRequiredMessage| escape | replace: '&quot;', '\"' }}"},"variantID":"{{variant.id}}","disabled":"{{variant.available}}","totalVariant":"{{total_combinations}}"}'
      gp-enable-third-partycart="{{shop.metafields.GEMPAGES.enableThirdPartyCart}}"
    >
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-l);--pt:0px;--pb:0px;--mt-tablet:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pb-tablet:0px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--ta:center" class="{% unless variant.available %} !gp-hidden {% endunless %}">
        <style>[data-id="gRsbU-dB6J"].gp-button-base::before, [data-id="gRsbU-dB6J-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #003687;
  
    
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
  
    }
  
      
  [data-id="gRsbU-dB6J"]:hover::before, [data-id="gRsbU-dB6J-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="gRsbU-dB6J" dataId="gRsbU-dB6J" data-state="idle" aria-label="Add to cart"
          name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:74px;--h-tablet:56px;--h-mobile:56px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--hvr-bblr:9999px;--hvr-bbrr:9999px;--hvr-btlr:9999px;--hvr-btrr:9999px;--shadow:none;--hvr-bg:#69A3EF;--bg:#0142A0;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold"
          class="gp-button-atc tcustomizer-submit-button gRsbU-dB6J gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3  undefined"
        >
        
  <svg
    class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="gp-opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="gp-opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--ts:none;word-break:break-word;--mr:8px;--mr-tablet:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414779109605736">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M233.21,56.31A12,12,0,0,0,224,52H66L60.53,21.85A12,12,0,0,0,48.73,12H24a12,12,0,0,0,0,24H38.71L63.62,173a28,28,0,0,0,4.07,10.21A32,32,0,1,0,123,196h34a32,32,0,1,0,31-24H91.17a4,4,0,0,1-3.93-3.28L84.92,156H196.1a28,28,0,0,0,27.55-23l12.16-66.86A12,12,0,0,0,233.21,56.31ZM100,204a8,8,0,1,1-8-8A8,8,0,0,1,100,204Zm88,8a8,8,0,1,1,8-8A8,8,0,0,1,188,212Zm12-83.28A4,4,0,0,1,196.1,132H80.56L70.38,76H209.62Z"></path></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggRsbU-dB6J_label }}
    </span>
        </div>
        
    
  <div
    class="group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
    style="--mr:8px;--ml:8px"
  >
    
    <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.10522 9C1.10522 8.72386 1.32908 8.5 1.60522 8.5H18.1062C18.3823 8.5 18.6062 8.72386 18.6062 9V11C18.6062 11.2761 18.3823 11.5 18.1062 11.5H1.60522C1.32908 11.5 1.10522 11.2761 1.10522 11V9Z"
        fill="currentColor" />
    </svg>
  
  </div>

    
            
      <gp-product-price
        id="shopify-text-element-undefined"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gp-button-price"
        
        gp-data='{"priceType":"regular","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-undefined" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-button-price  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);word-break:break-word;overflow:hidden"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
            
          
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:var(--g-s-l);--pt:0px;--pb:0px;--mt-tablet:0px;--mb-tablet:var(--g-s-l);--pt-tablet:0px;--pb-tablet:0px;--mt-mobile:0px;--mb-mobile:20px;--pt-mobile:0px;--pb-mobile:0px;--ta:center" class="{% if variant.available %} !gp-hidden {% endif %}">
        <style>[data-id="gRsbU-dB6J-sold-out"].gp-button-base::before, [data-id="gRsbU-dB6J-sold-out-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      
  
    }
  
      
  [data-id="gRsbU-dB6J-sold-out"]:hover::before, [data-id="gRsbU-dB6J-sold-out-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gRsbU-dB6J-sold-out" dataId="gRsbU-dB6J-sold-out" data-state="idle" aria-label="{{ section.settings.ggRsbU-dB6J_outOfStockLabel }}"
          gp-data-hidden="{% if variant.available %}true{% endif %}"
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:74px;--h-tablet:56px;--h-mobile:56px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--hvr-bblr:16px;--hvr-bbrr:16px;--hvr-btlr:16px;--hvr-btrr:16px;--shadow:none;--bg:#3F4BA0;--hvr-bg:#3F4BA0;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold"
          class="gp-cursor-default gp-opacity-30 btn-disabled gp-button-sold-out gRsbU-dB6J-sold-out gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--ts:none;word-break:break-word;--mr:8px;--mr-tablet:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="currentColor" data-id="508414779109605736">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M233.21,56.31A12,12,0,0,0,224,52H66L60.53,21.85A12,12,0,0,0,48.73,12H24a12,12,0,0,0,0,24H38.71L63.62,173a28,28,0,0,0,4.07,10.21A32,32,0,1,0,123,196h34a32,32,0,1,0,31-24H91.17a4,4,0,0,1-3.93-3.28L84.92,156H196.1a28,28,0,0,0,27.55-23l12.16-66.86A12,12,0,0,0,233.21,56.31ZM100,204a8,8,0,1,1-8-8A8,8,0,0,1,100,204Zm88,8a8,8,0,1,1,8-8A8,8,0,0,1,188,212Zm12-83.28A4,4,0,0,1,196.1,132H80.56L70.38,76H209.62Z"></path></svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--size:20px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggRsbU-dB6J_outOfStockLabel }}
    </span>
        </div>
        
    
  <div
    class="group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
    style="--mr:8px;--ml:8px"
  >
    
    <svg width="1em" height="1em" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.10522 9C1.10522 8.72386 1.32908 8.5 1.60522 8.5H18.1062C18.3823 8.5 18.6062 8.72386 18.6062 9V11C18.6062 11.2761 18.3823 11.5 18.1062 11.5H1.60522C1.32908 11.5 1.10522 11.2761 1.10522 11V9Z"
        fill="currentColor" />
    </svg>
  
  </div>

    
            
      <gp-product-price
        id="shopify-text-element-undefined"
        class="gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:!gp-hidden gp-button-price"
        
        gp-data='{"priceType":"regular","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div id="p-price-undefined" data-id
        
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-price gp-money gp-button-price  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);word-break:break-word;overflow:hidden"
        >
          
     {% if variant.price %}
       {{ variant.price | money}}
     {% endif %}
   
        </div>
      </div>
    </div>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-price-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
            
          
  
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  