
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-624207766126330696.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-624207766126330696.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-624207766126330696.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-624207766126330696.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-624207766126330696.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-624207766126330696.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-624207766126330696.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-624207766126330696.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-624207766126330696.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-624207766126330696.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-624207766126330696.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-624207766126330696.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-624207766126330696.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-624207766126330696.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-624207766126330696.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-624207766126330696.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-624207766126330696.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-624207766126330696.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-624207766126330696.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-624207766126330696.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-624207766126330696.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-624207766126330696.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-624207766126330696.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-624207766126330696.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-624207766126330696.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-624207766126330696.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-624207766126330696.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-624207766126330696.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-624207766126330696.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-624207766126330696.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-624207766126330696.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-624207766126330696.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-624207766126330696.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-624207766126330696.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-624207766126330696.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-624207766126330696.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-624207766126330696.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-624207766126330696.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-624207766126330696.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-624207766126330696.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-624207766126330696.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-624207766126330696.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-624207766126330696.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-624207766126330696.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-624207766126330696.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-624207766126330696.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-624207766126330696.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-624207766126330696.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-624207766126330696.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-624207766126330696.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-624207766126330696.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-624207766126330696.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-624207766126330696.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-624207766126330696.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-624207766126330696 .-gp-translate-x-1\/2,.gps-624207766126330696 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-624207766126330696 .gp-absolute{position:absolute}.gps-624207766126330696 .gp-relative{position:relative}.gps-624207766126330696 .gp-left-0{left:0}.gps-624207766126330696 .gp-left-1\/2{left:50%}.gps-624207766126330696 .gp-top-0{top:0}.gps-624207766126330696 .gp-top-1\/2{top:50%}.gps-624207766126330696 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-624207766126330696 .gp-mb-0{margin-bottom:0}.gps-624207766126330696 .gp-flex{display:flex}.gps-624207766126330696 .gp-grid{display:grid}.gps-624207766126330696 .\!gp-hidden{display:none!important}.gps-624207766126330696 .gp-hidden{display:none}.gps-624207766126330696 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-624207766126330696 .gp-h-full{height:100%}.gps-624207766126330696 .gp-w-14{width:56px}.gps-624207766126330696 .gp-w-5{width:20px}.gps-624207766126330696 .gp-w-full{width:100%}.gps-624207766126330696 .\!gp-max-w-none{max-width:none!important}.gps-624207766126330696 .gp-max-w-full{max-width:100%}.gps-624207766126330696 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-624207766126330696 .-gp-translate-x-1\/2,.gps-624207766126330696 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-624207766126330696 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-624207766126330696 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-624207766126330696 .gp-flex-col{flex-direction:column}.gps-624207766126330696 .gp-items-center{align-items:center}.gps-624207766126330696 .gp-justify-center{justify-content:center}.gps-624207766126330696 .gp-overflow-hidden{overflow:hidden}.gps-624207766126330696 .gp-rounded{border-radius:4px}.gps-624207766126330696 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-624207766126330696 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-624207766126330696 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-624207766126330696 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1))}.gps-624207766126330696 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-624207766126330696 .gp-duration-200{transition-duration:.2s}.gps-624207766126330696 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-624207766126330696 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity,1))}}@media (max-width:1024px){.gps-624207766126330696 .tablet\:\!gp-hidden{display:none!important}.gps-624207766126330696 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-624207766126330696 .mobile\:\!gp-hidden{display:none!important}.gps-624207766126330696 .mobile\:gp-hidden{display:none}}.gps-624207766126330696 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-624207766126330696 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-624207766126330696 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-624207766126330696 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"ggtmjzaKEP"}' data-id="ggtmjzaKEP" id="ggtmjzaKEP" data-same-height-subgrid-container class="ggtmjzaKEP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gI8W1CiGFc gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gcro5mu_nM"}' data-id="gcro5mu_nM" id="gcro5mu_nM" data-same-height-subgrid-container class="gcro5mu_nM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:32px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDCTaXwKX_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g_nosNi8wu"}' data-id="g_nosNi8wu" id="g_nosNi8wu" data-same-height-subgrid-container class="g_nosNi8wu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-mobile:10px;--rg:16px;--rg-tablet:16px;--rg-mobile:10px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="gTbN_6xzel gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gobUXdXXiz" class="gobUXdXXiz !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#0142A0;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:10px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--aspect:9/16">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gobUXdXXiz" title="Video" preload="none" data-src="{{ section.settings.ggobUXdXXiz_html5Url }}" poster="{{ section.settings.ggobUXdXXiz_poster_src }}" data-poster="{{ section.settings.ggobUXdXXiz_poster_src }}"
      style="--aspect:9/16"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      
    ></video>
    
     <div
        role="presentation"
        style="--aspect:9/16"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggobUXdXXiz_poster_src }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gmlPCf-FJJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gFYUbNeaxV" class="gFYUbNeaxV !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#0142A0;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:8px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:8px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--aspect:9/16">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gFYUbNeaxV" title="Video" preload="none" data-src="{{ section.settings.ggFYUbNeaxV_html5Url }}" poster data-poster
      style="--aspect:9/16"
      class="gp-w-full gp-lazyload-video"
      controls
      
      
      
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:2"
      class="gY3tAjNqpA gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gbmKloktJd" class="gbmKloktJd !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#0142A0;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:10px;--mb-tablet:8px;--mb-mobile:8px;--aspect:9/16">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gbmKloktJd" title="Video" preload="none" data-src="{{ section.settings.ggbmKloktJd_html5Url }}" poster="{{ section.settings.ggbmKloktJd_poster_src }}" data-poster="{{ section.settings.ggbmKloktJd_poster_src }}"
      style="--aspect:9/16"
      class="gp-w-full gp-lazyload-video"
      controls
      
      muted
      
      playsinline
      
    ></video>
    
     <div
        role="presentation"
        style="--aspect:9/16"
        class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-h-full"
        >
           
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ section.settings.ggbmKloktJd_poster_src }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="video-thumbnail"
      
      class="gp-w-full gp-h-full gp-object-cover"
    />
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]" aria-label="Play">
            <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
              />
            </svg>
          </button>
        </div>
  
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-624207766126330696 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yerba-magic-test-project/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=624186233089753865&sectionId=624207766126330696)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggobUXdXXiz_youtubeUrl","label":"ggobUXdXXiz_youtubeUrl","default":"https://www.youtube.com/watch?v=drIt4RH_kyQ"},{"type":"html","id":"ggobUXdXXiz_vimeoUrl","label":"ggobUXdXXiz_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggobUXdXXiz_html5Url","label":"ggobUXdXXiz_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/2cd3deb506b54b009063f7270ab5cf2e.mp4"},{"type":"html","id":"ggobUXdXXiz_poster_src","label":"ggobUXdXXiz_poster_src","default":"https://cdn.shopify.com/s/files/1/0946/3011/7697/files/Gemini_Generated_Image_1kfm6w1kfm6w1kfm_1.png"},{"type":"html","id":"ggFYUbNeaxV_youtubeUrl","label":"ggFYUbNeaxV_youtubeUrl","default":"https://www.youtube.com/watch?v=drIt4RH_kyQ"},{"type":"html","id":"ggFYUbNeaxV_vimeoUrl","label":"ggFYUbNeaxV_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggFYUbNeaxV_html5Url","label":"ggFYUbNeaxV_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/2cd3deb506b54b009063f7270ab5cf2e.mp4"},{"type":"html","id":"ggbmKloktJd_youtubeUrl","label":"ggbmKloktJd_youtubeUrl","default":"https://www.youtube.com/watch?v=drIt4RH_kyQ"},{"type":"html","id":"ggbmKloktJd_vimeoUrl","label":"ggbmKloktJd_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggbmKloktJd_html5Url","label":"ggbmKloktJd_html5Url","default":"https://cdn.shopify.com/videos/c/o/v/2cd3deb506b54b009063f7270ab5cf2e.mp4"},{"type":"html","id":"ggbmKloktJd_poster_src","label":"ggbmKloktJd_poster_src","default":"https://cdn.shopify.com/s/files/1/0946/3011/7697/files/Gemini_Generated_Image_632wbt632wbt632w.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}